.majorimpressum {
    padding-top: 26px;
    padding-bottom: 10%;
}

.impressumdiv {
    display: block;
    padding-left: 5%;
    padding-bottom: 1%;
}

.impressumdivend {
    display: block;
    padding-left: 5%;
    padding-bottom: 5%;
}

.impressumspan {
    font-size: 18px;
    font-family: 'Nanum Myeongjo', serif;
}


#navcomputer {
    position: relative;
    z-index: 3;
    background-color: #588c3a;
    width: 100%;
    padding-right: 250px !important;
    display: flex;
    justify-content: center;
}

/* kontakt */
#iframemaps {
    border: 0;
    margin-top: 30px;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width : 663px) {
    #iframemaps {
        border: 0;
        margin-top: 30px;
        margin-left: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;

    }
}