@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

html {
    background: linear-gradient(135deg, #588c3a 0%, #4a7a30 100%);
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0 8px;
}

ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: all 0.4s ease;
    padding-right: 14px;
}

ul li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: all 0.4s ease;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: all 0.4s ease;
    box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: all 0.4s ease;
    transform: rotate(0deg) skewY(-45deg);
}

ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: all 0.4s ease;
    transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.4);
}

ul li:hover .fa {
    color: #fff;
}

ul li:hover span {
    color: #fff;
}

ul li:hover:nth-child(3) a {
    background: #3b5998;
}

ul li:hover:nth-child(3) a:before {
    background: #365492;
}

ul li:hover:nth-child(3) a:after {
    background: #4a69ad;
}

ul li:hover:nth-child(4) a {
    background: #00aced;
}

ul li:hover:nth-child(4) a:before {
    background: #097aa5;
}

ul li:hover:nth-child(4) a:after {
    background: #53b9e0;
}

ul li:hover:nth-child(1) a {
    background: #dd4b39;
}

ul li:hover:nth-child(1) a:before {
    background: #b33a2b;
}

ul li:hover:nth-child(1) a:after {
    background: #e66a5a;
}

ul li:hover:nth-child(2) a {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

ul li:hover:nth-child(2) a:before {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

ul li:hover:nth-child(2) a:after {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

header {
    background-color: transparent;
    margin-top: 30px;
    margin-left: 50px;
}

.startseitespan {
    display: inline-flex;
    align-items: center;
    border: 0;
    position: relative;
    transition: all 0.3s ease;
    color: white;
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.startseitespan:hover {
    z-index: 2;
    transform: scale(1.1) translateX(10px);
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.fa-arrow-left {
    padding-right: 12px;
    transition: transform 0.3s ease;
}

.startseitespan:hover .fa-arrow-left {
    transform: translateX(-5px);
}

@media only screen and (max-width : 816px) {
    ul {
        display: block;
    }

    li {
        margin-bottom: 70px !important;
    }
}

@media only screen and (max-height: 711px) {
    .startseitespan {
        font-size: 5vw;
    }

    .startseitespan:hover {
        z-index: 2;
        transform: scale(1.1) translateX(10px);
        font-size: 5vw;
    }
}