.secondtitle {
    margin-bottom: 50px;
}

.team1 {
    display: flex;
    min-height: 210px;
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.roundimgdiv1 {
    width: 180px;
    height: 180px;
    min-width: 180px;
    margin: 5px;
    flex-shrink: 0;
}

.roundimg1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.roundimg1:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.persontext1 {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    min-width: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    display: block;
    justify-content: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


.team2 {
    display: flex;
    min-height: 210px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.roundimgdiv2 {
    width: 180px;
    height: 180px;
    min-width: 180px;
    margin: 5px;
    flex-shrink: 0;
}

.roundimg2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.roundimg2:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.persontext2 {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    min-width: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    display: block;
    justify-content: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


.persontext2mehranzeigen {
    padding-left: 40px;
    padding-right: 20px;
    flex: 1;
    min-width: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    display: none;
    justify-content: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    position: relative;
    z-index: 10;
}


.team3 {
    display: flex;
    min-height: 210px;
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 100px;
    justify-content: flex-start;
    align-items: flex-start;
}

.roundimgdiv3 {
    width: 180px;
    height: 180px;
    min-width: 180px;
    margin: 5px;
    flex-shrink: 0;
}

.roundimg3 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.roundimg3:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.persontext3 {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    min-width: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    display: block;
    justify-content: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.persontext3mehranzeigen {
    padding-left: 20px;
    padding-right: 40px;
    flex: 1;
    min-width: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    display: none;
    justify-content: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    position: relative;
    z-index: 10;
}


.persontext1mehranzeigen {
    padding-left: 20px;
    padding-right: 40px;
    flex: 1;
    min-width: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    display: none;
    justify-content: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    position: relative;
    z-index: 10;
}

.team2handy {
    display: none;
}

.mehranzeigenbutton {
    border: none;
    color: #666;
    font-family: Georgia, 'Times New Roman', serif;
    background: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.mehranzeigenbutton:hover {
    background-color: #f0f7ed;
    color: #588c3a;
}



@media only screen and (max-width : 815px) {
    .text2 {
        font-size: 18px;
        text-align: left;
    }

    .team1 {
        display: block;
        height: auto;
        margin-top: 100px !important;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .roundimgdiv1 {
        margin-right: auto;
        margin-left: auto;
    }

    .persontext1 {
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        box-sizing: border-box;
        width: 100%;
        display: none;
    }

    .team2handy {
        display: block;
        height: auto;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 100px !important;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .roundimgdiv2 {
        margin-right: auto;
        margin-left: auto;
    }

    .persontext2 {
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        box-sizing: border-box;
        width: 100%;
        padding-left: 20px;
        padding-right: 40px;
        display: flex;
        text-align: left;
    }

    .team2 {
        display: none;
    }

    .team3 {
        display: block;
        height: auto;
        margin-top: 50px !important;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .roundimgdiv3 {
        margin-right: auto;
        margin-left: auto;
    }

    .persontext3 {
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        box-sizing: border-box;
        width: 100%;
        display: none;
    }

    .persontext3mehranzeigen {
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        height: 100%;
        text-align: left;
    }

    .persontext1mehranzeigen {
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        text-align: left;
        height: 100%;
    }

    .mehranzeigenbutton {
        display: none;
    }

}

@media only screen and (max-width : 520px) {
    #secondtitlehandy {
        display: block !important;

    }

    .secondtitle {
        font-size: 30px;
    }

    .majortitle {
        font-size: 35px;
    }


    #secondtitlepc {
        display: none !important;
    }
}


#secondtitlehandy {
    display: none;
}

#secondtitlepc {
    display: block;
}